%h1 My friends
#results2
  = render 'friends/result'
%h3 Search for Friends
%div.p-0
  = form_tag search_friends_path, remote:true, method: :get, id: "friend_search_form" do
    .form-group.row.text-center.p-0.col-md-12
      .col-md-9
        = text_field_tag :search_param, params[:search_param], placeholder:"Enter email or name",
            autofocus: true, class: "form-control search-box input-lg"
      .col-md-3
        = button_tag(type: :submit, class: "btn btn-success") do
          %i.fa.fa-search
          Look up a friend
