%h1 Welcome to Fin-Tracker

.card
  .card-body
    .card-title
      = link_to "Logout", destroy_user_session_path, method: :delete
.card
  .card-body
    .card-title
      = link_to "Portfolio", my_portfolio_path
